@mixin fontsizer {
  font-size: clamp(0.8rem, -0.875rem + 1vw + 1vh, 3rem) !important;
}

.sizefont {
  @include fontsizer;
}


body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;

}


.box {
  @include fontsizer;
  position: relative;
  text-align: center;
  top: 10vh;
  opacity: 100%;
  margin: auto;
  //float: left;
  width: 70vw;


  padding: 10vh 1vw 10vh 1vw;

  background: #ffffff;

  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);

  border: 1px solid #6d6d6d;
  border-radius: 10px;


  font-size: clamp(0.5rem, -0.875rem + 6vw + 2vh, 1.3rem);

  //flex: auto;
}

.input-box {
  width: auto;
  max-width: 50vw;
  min-width: 25vw;
  //flex: auto;
}


.button {
  margin: 0.5vh;
  height: 5%;

  padding: 0.1vh;
  width: auto;
  font-size: clamp(0.8rem, -0.875rem + 1vw + 1vh, 3rem) !important;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 50px;
  min-width: 15vw;
  max-width: 18vw;

}

.title {
  font-size: clamp(0.9rem, -0.875rem + 2vw + 2vh, 6rem);
  margin-top: 2vh;
  margin-bottom: 2vh;

}
