<body xmlns="http://www.w3.org/1999/html">
<ng-form (keyup.enter)="loginButton()">

  <div  class="box"
        >
    <div class="title">
      Logowanie
    </div>
    <mat-form-field class="input-box" appearance="outline">
      <mat-label>Login</mat-label>
      <input matInput type="text" autofocus
             [formControl]="loginControl">
      <mat-error>Pole nie może być puste</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="input-box" appearance="outline">
      <mat-label>Hasło</mat-label>
      <input matInput type="password"
             [formControl]="pwControl">
      <mat-error>Pole nie może być puste</mat-error>
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="primary" class="button"
      (click)="loginButton()">Zaloguj</button>


    <a class="button" mat-button href="http://localhost:4200/register">Rejestracja</a>
    </div>
  </div>
</ng-form>
</body>
