html,
body {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}


.full-width {
  width: 100%;
}

.box {
  position: relative;
  text-align: center;
  top: 10vh;
  opacity: 100%;
  margin: 0 auto;
  //float: left;
  padding: 20px 40px 20px 40px;
  width: 40vw;
  background: #fff;

  transform: scale(1);
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1);

  border: 1px solid #6d6d6d;
  border-radius: 10px;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 2rem);
}

.buttons {
  margin: 0.5vh;
  width: 30vw;
}
