<div class="home-class">
  <mat-toolbar color="primary" class="font-sizer">
    <button mat-icon-button (click)="sidenavOpen=!sidenavOpen"><mat-icon>menu</mat-icon></button>


    <a mat-button class="buttons-toolbar"
        href="http://localhost:4200/"
    >Strona główna</a>

    <div class="username"></div>


    <div>
      Witaj, {{userData.name}}</div>


    <button mat-button
            class="buttons-toolbar"
            (click)="logout()">Wyloguj</button>
  </mat-toolbar>

  <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sidenavOpen" class="drawer">
      <div style="padding: 0.1vh; margin: 0.5vh">
        <div class="menu-buttons"
              style="text-align: center!important;
              font-size: clamp(0.7rem, -0.875rem + 1.5vw + 1.5vh, 1.5rem);
              margin-bottom: 0">


        <button mat-raised-button color="primary"
                class="menu-buttons"
                (click)="GetMarketPackages()">
          Rynek</button>
        <br>
        <button mat-raised-button color="primary"
                class="menu-buttons"
                (click)="GetUserPackages()">
          Moje przesyłki</button>
        <br>
        <button mat-raised-button color="primary"
                class="menu-buttons"
                (click)="AddPackage()">
          Dodaj przesyłkę</button>
      </div>
      </div>
    </mat-drawer>
    <mat-drawer-content class="drawer-content" style="">

      <div *ngIf="userChoice == 1">
        <app-add-package></app-add-package>
      </div>
      <div *ngIf="userChoice == 2">
        <app-packages-market></app-packages-market>
      </div>
      <div *ngIf="userChoice == 3">
        <app-my-packages></app-my-packages>
      </div>



    </mat-drawer-content>
  </mat-drawer-container>

</div>
