:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.page-bottom {
  border-top: 2px solid;
  text-align: center;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

@mixin sizefont {
  //font-size: clamp(0.4rem, -0.875rem + 1.5vw + 1.5vh, 1.3rem) !important;
  font-size: clamp(0.8rem, -0.875rem + 1vw + 1vh, 3rem) !important;

}

.font-sizer {
  @include sizefont;
}

.buttons-toolbar {
  @include sizefont;
  margin: 0.5vh;
  //height: 5vh;
  width: auto;
  min-width: 10vw;

  padding: 0.3vh;
}

.buttons {
  margin: 0.5vh;
  //height: 5vh;
  width: auto;
  min-width: 10vw;
  @include sizefont;
  padding: 0.3vh;
}

.menu-buttons {
  @include sizefont;
  margin: 0.5vh;
  height: 10%;
  min-width: 10vw;
  width: 90%;
  padding: 0.1vh;
}

.input-box {
  width: auto;
  max-width: 50vw;
  min-width: 25vw;
  padding: 1vh;
  //flex: auto;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.username {
  margin: auto;
}

.drawer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 75vw;
  background: #eee;
}

.drawer-content {
  display: flex;
  align-items: center;
  height: 100%;


  /* Set the height to match that of the viewport. */
  height: 100vh;


  /* Remove any browser-default margins. */
  margin: 0;
}

.home-class {
  @include sizefont;
  height: 100%;
  width: 100%;

  /* Set the height to match that of the viewport. */
  height: 100vh;

  /* Set the width to match that of the viewport. */
  width: 100vw;

  /* Remove any browser-default margins. */
  margin: 0;
}
