@mixin fontsizer {
  font-size: clamp(0.6rem, -0.875rem + 1vw + 1vh, 3rem) !important;
}

.sizefont {
  @include fontsizer;
}

.package-details {
  margin: 1vh;
}

.tab-group {
  min-height: 40vh;
  padding-top: 1vh;
  @include fontsizer;

}

.table-column1 {
  padding: 1vw;
  margin: 1vh;
  text-align: left;
}

.table-column2 {
  padding: 1vw;
  margin: 1vh;
  text-align: left;
}

.input-box {
  padding: 1vw;
  width: 5vw;
  min-width: 60px;
  margin: auto;
  height: 0;
  @include fontsizer;
}

.menu-buttons {
  @include fontsizer;
  margin: 0.5vh;
  height: 5%;
  min-height: 50px;
  min-width: 10vw;
  padding: 0.1vh;
}

.buttons {
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  height: 100vh;
  margin: auto;
}

.info-header {
  @include fontsizer;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  @include fontsizer;
}

.main{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 70vw;
  min-width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.offer {
  @include fontsizer;
  border: 1px black solid;
  margin: 2vw auto;
  padding: 2vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@mixin bigfontsizer {
  font-size: clamp(0.8rem, -0.875rem + 1.3vw + 1.3vh, 3rem) !important;
}

.navi {
  padding: 10vh;
  margin: 2vh;
  justify-content: center;
  text-align: center;
}

.details {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin-right: auto;
  margin-left: auto;

}

.currentPageMark {
  background: #6d6d6d
}

.filters {
  position: center;
  display: inline-block;
  flex-direction: row;
  align-items: center;
}

.input-boxf {
  flex: 1;
  @include fontsizer;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: auto;
}
