<div class="main" >
<div [hidden]="detailedView" >
  <div class="filters" >
    <form [formGroup]="filtersGroup" >
        <mat-form-field appearance="outline" class="input-boxf">
          <mat-label>Woj początkowe</mat-label>
          <select matNativeControl
                  formControlName="startVoivoControl">
            <option value=''>brak</option>
            <option value=dolnośląskie>dolnośląskie</option>
            <option value=kujawsko-pomorskie>kujawsko-pomorskie</option>
            <option value=lubelskie>lubelskie</option>
            <option value=lubuskie>lubuskie</option>
            <option value=łódzkie>łódzkie</option>
            <option value=małopolskie>małopolskie</option>
            <option value=mazowieckie>mazowieckie</option>
            <option value=opolskie>opolskie</option>
            <option value=podkarpackie>podkarpackie</option>
            <option value=podlaskie>podlaskie</option>
            <option value=pomorskie>pomorskie</option>
            <option value=śląskie>śląskie</option>
            <option value=świętokrzyskie>świętokrzyskie</option>
            <option value=warmińsko-mazurskie>warmińsko-mazurskie</option>
            <option value=wielkopolskie>wielkopolskie</option>
            <option value=zachodniopomorskie>zachodniopomorskie</option>
          </select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-boxf">
          <mat-label>Woj końcowe</mat-label>
          <select matNativeControl
                  formControlName="endVoivoControl">
            <option value=''>brak</option>
            <option value=dolnośląskie>dolnośląskie</option>
            <option value=kujawsko-pomorskie>kujawsko-pomorskie</option>
            <option value=lubelskie>lubelskie</option>
            <option value=lubuskie>lubuskie</option>
            <option value=łódzkie>łódzkie</option>
            <option value=małopolskie>małopolskie</option>
            <option value=mazowieckie>mazowieckie</option>
            <option value=opolskie>opolskie</option>
            <option value=podkarpackie>podkarpackie</option>
            <option value=podlaskie>podlaskie</option>
            <option value=pomorskie>pomorskie</option>
            <option value=śląskie>śląskie</option>
            <option value=świętokrzyskie>świętokrzyskie</option>
            <option value=warmińsko-mazurskie>warmińsko-mazurskie</option>
            <option value=wielkopolskie>wielkopolskie</option>
            <option value=zachodniopomorskie>zachodniopomorskie</option>
          </select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-boxf">
          <mat-label>Waga do (kilogramy)</mat-label>
          <input  matInput placeholder=""
                  type="number"
                  formControlName="weightLimitControl">

          <mat-error>Przesyłka nie może być lżejsza niż 1kg</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-boxf">
          <mat-label>Waga od (kilogramy)</mat-label>
          <input  matInput placeholder=""
                  type="number"
                  formControlName="weightLimitControl2">

          <mat-error>Przesyłka nie może być lżejsza niż 1kg</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-boxf">
          <mat-label>Odległość do (kilometry)</mat-label>
          <input  matInput placeholder=""
                  type="number"
                  formControlName="distanceControl">

          <mat-error>Odległość nie może być mniejsza niż 1km</mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent"

                class="menu-buttons"
                style="float: right; flex: 1; width: 100%"
                (click)="FilterPackages()">Szukaj</button>
        <br>
    </form>
  </div>
  <br>

  <mat-card *ngFor="let p of packagesList"
            class="offer"
            (click)="openPackageDetails(p.id)">

    <mat-grid-list cols="5" rowHeight="6vh">

      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        {{p.startCity}}
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        {{p.startVoivodeship}}
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        Waga:
        {{p.weight}} kg
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        Trasa:
        {{p.approximateDistance}} km
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="2">
        <div style="display: flex; flex-direction: column;">
          <b>Pomoc</b>
          <br>
          <div>
            {{p.senderHelp ? "Tak" : "Nie"}}
          </div>
        </div>
      </mat-grid-tile>


      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        {{p.endCity}}
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        {{p.endVoivodeship}}
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        Wymiary:
        {{p.dimensions}}
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        {{p.lowestBid > 0? p.lowestBid + ' zł': 'Brak ofert'}}
      </mat-grid-tile>


    </mat-grid-list>

  </mat-card>


  <div class="navi" >
    <button mat-button class="sizefont"
            (click)="goToFirstPage()"> << </button>
    <button mat-button class="sizefont"
            *ngIf="this.pageControl.currentPage > 1"
            (click)="goToLeftPage()"> {{this.pageControl.currentPage - 1}} </button>
    <button mat-button class="sizefont"
            class="currentPageMark"> {{this.pageControl.currentPage}} </button>
    <button mat-button class="sizefont"
            *ngIf="this.pageControl.currentPage <
      (this.pageControl.itemCount / this.pageControl.pageSize)"
            (click)="goToRightPage()"> {{this.pageControl.currentPage + 1}} </button>
    <button mat-button class="sizefont"
            (click)="goToLastPage()"> >> </button>
  </div>

</div>


<div *ngIf="detailedView" class="details">
  <div>
  <mat-tab-group style="width: 100%">
    <mat-tab label="Ogólne" >
      <div class="tab-group">
        <table>
          <tr>
            <td class="table-column1">Nazwa użytkownika</td>
            <td class="table-column2">
              {{this.selectedUser.login}}</td>
          </tr>
          <tr>
            <td class="table-column1">Ocena</td>
            <td class="table-column2">{{this.selectedUser.rating < 0
              ? "Brak" : this.selectedUser.rating}}</td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Od">
      <div class="tab-group">
        <table>
          <tr>
            <td class="table-column1">Województwo</td>
            <td class="table-column2">
              {{this.selectedPackage.startVoivodeship}}</td>
          </tr>
          <tr>
            <td class="table-column1">Kod pocztowy</td>
            <td class="table-column2">
              {{this.selectedPackage.startPostCode}}</td>
          </tr>
          <tr>
            <td class="table-column1">Miejscowość</td>
            <td class="table-column2">
              {{this.selectedPackage.startCity}}</td>
          </tr>
          <tr>
            <td class="table-column1">Adres</td>
            <td class="table-column2">
              {{this.selectedPackage.startStreetAddress}}</td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Do">
      <div class="tab-group">
        <table>
          <tr>
            <td class="table-column1">Województwo</td>
            <td class="table-column2">
              {{this.selectedPackage.endVoivodeship}}</td>
          </tr>
          <tr>
            <td class="table-column1">Kod pocztowy</td>
            <td class="table-column2">
              {{this.selectedPackage.endPostCode}}</td>
          </tr>
          <tr>
            <td class="table-column1">Miejscowość</td>
            <td class="table-column2">
              {{this.selectedPackage.endCity}}</td>
          </tr>
          <tr>
            <td class="table-column1">Adres</td>
            <td class="table-column2">
              {{this.selectedPackage.endStreetAddress}}</td>
          </tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Szczegóły">
      <div class="tab-group">
        <table>
          <tr>
            <td class="table-column1">Waga</td>
            <td class="table-column2">
              {{calculateWeightUnit(
              this.selectedPackage.weight)}}</td>
          </tr>
          <tr>
            <td class="table-column1">Wymiary</td>
            <td class="table-column2">
              {{this.selectedPackage.dimensions}}</td>
          </tr>
          <tr>
            <td class="table-column1">Pomoc w załadunku</td>
            <td class="table-column2">
              {{this.selectedPackage.senderHelp ? "Tak" : "Nie"}}</td>
          </tr>
          <tr>
            <td class="table-column1">Obecna oferta</td>
            <td class="table-column2">
              {{this.selectedPackage.lowestBid <= 0 ? "Brak"
              : this.selectedPackage.lowestBid + " zł"}}</td>
          </tr>
          <tr>
            <td class="table-column1">Dodatkowe informacje</td>
            <td class="table-column2">
              {{this.selectedPackage.comment}}</td>
          </tr>
        </table>
      </div>
    </mat-tab>

  </mat-tab-group>

      <div class="buttons">

      <button mat-raised-button color="primary"
              class="menu-buttons"
              (click)="goBack()">Powrót</button>

      <mat-form-field class="input-box" appearance="outline">
        <mat-label>Twoja oferta</mat-label>
        <input matInput type="number"
               [formControl]="bidControl">
        <span matSuffix> zł</span>
        <mat-error>Oferta musi być większa niż obecna</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary"
              class="menu-buttons"
              (click)="AddNewBid()">Złóż oferte</button>

      </div>

    </div>
  </div>
</div>
