
<ng-form (keyup.enter)="RegisterNewUser()">
<div class="box" >
  <div class="title">
    Rejestracja
  </div>
  <br>
  <br>
  <mat-form-field class="input-box" appearance="outline">
    <mat-label>Login</mat-label>
    <input matInput type="text" autofocus
           [formControl]="loginControl">
    <mat-error *ngIf="loginControl.hasError('required') ||
      loginControl.hasError('minlength')">Minimum 6 znaków</mat-error>
    <mat-error *ngIf="!loginControl.errors?.loginAvailable?.value &&
      !(loginControl.hasError('required') ||
        loginControl.hasError('minlength'))">Wybrana nazwa jest już zajęta</mat-error>
  </mat-form-field>

  <mat-form-field class="input-box" appearance="outline">
    <mat-label>Hasło</mat-label>
    <input matInput type="password"
           [formControl]="pwControl">
    <mat-error>Minimum 3 znaki</mat-error>
  </mat-form-field>

    <br>

  <mat-form-field class="input-box" appearance="outline">
    <mat-label>Imię</mat-label>
    <input matInput type="text"
           [formControl]="nameControl">
    <mat-error>Pole nie może być puste</mat-error>
  </mat-form-field>

  <mat-form-field class="input-box" appearance="outline">
    <mat-label>Nazwisko</mat-label>
    <input matInput type="text"
           [formControl]="lastnameControl">
    <mat-error>Pole nie może być puste</mat-error>
  </mat-form-field>

  <br>

  <br>
  <mat-form-field class="input-box" style="min-width: 50vw; max-width: 100vw"
                  appearance="outline">
    <mat-label>Kontakt (numer telefonu lub adres e-mail)</mat-label>
    <input matInput type="text"
           placeholder="np. konto@poczta.pl, +48 111 222 333"
           [formControl]="contactinfoControl">
    <mat-error>Pole nie może być puste</mat-error>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" class="buttons"
            type="submit"
            (click)="RegisterNewUser()">Zarejestruj</button>
  </div>
  <mat-error *ngIf="!serverResponse">Nie udało się stworzyć konta, spróbuj ponownie później</mat-error>
</div>
</ng-form>
