@mixin fontsizer {
  font-size: clamp(0.8rem, -0.875rem + 1vw + 1vh, 3rem) !important;
}

.sizefont {
  @include fontsizer;
}

.mat-column-odleglosc {

  border-right: 1px solid currentColor;
  text-align: center;
  @include fontsizer;

}

.mat-column-wojewodztwoS {

  border-right: 1px solid currentColor;
  text-align: center;
  @include fontsizer;

}

.mat-column-miejscowoscS {

  border-right: 0.5vh solid green;
  text-align: center;
  @include fontsizer;
}

.mat-column-waga {

  border-right: 1px solid currentColor;
  text-align: center;
  @include fontsizer;
}

.mat-column-wymiary {

  border-right: 1px solid currentColor;
  text-align: center;
  @include fontsizer;
}

.mat-column-senderHelp {

  border-right: 1px solid currentColor;
  text-align: center;
  @include fontsizer;
}

.mat-column-lowestBid {

  border-right: 0.5vh solid red;
  text-align: center;
  @include fontsizer;
}

.mat-column-wojewodztwoE {

  border-right: 1px solid currentColor;
  text-align: center;
  @include fontsizer;
}

.mat-column-miejscowoscE {
  border-right: 1px solid currentColor;
  text-align: center;
  @include fontsizer;
}

.mat-column-stanPaczki {

  text-align: center;
  @include fontsizer;
}

.demo-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.mat-row:hover .mat-cell {
  border-top: 1px solid;
  background: #d5b0ff;
  border-color: currentColor;
}

.package-details {
  margin: 1vh;
}

.tab-group {
  min-height: 40vh;
  padding-top: 1vh;
  @include fontsizer;

}

.table-column1 {
  padding: 1vw;
  margin: 1vh;
  text-align: left;
}

.table-column2 {
  padding: 1vw;
  margin: 1vh;
  text-align: left;
}

.input-box {
  padding: 1vw;
  width: 5vw;
  min-width: 60px;
  margin: auto;
  height: 0%;
  @include fontsizer;
}

.menu-buttons {
  @include fontsizer;
  margin: 0.5vh;
  height: 5%;
  min-height: 50px;
  min-width: 10vw;
  padding: 0.1vh;
}

.buttons {
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  height: 100vh;
  margin: auto;
}

.info-header {
  @include fontsizer;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  @include fontsizer;
}

.main{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 70vw;
  min-width: 310px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
